.conclusion_section {
  display: flex;
  width: 100%;
  margin-top: 40px;
  padding: 70px 20px 20px 32px;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  position: relative;

  color: #d8d8d8;
  background: rgb(211 64 0);

  .contact_me_pointer {
    display: none;

    .contact_me_pointer_string {
      font-size: 26px;
      font-weight: 100;
    }
  }

  .conclusion_section_string {
    color: #d8d8d8;
    text-shadow: 0px 12px 18px rgba(0, 0, 0, 0.5);
    font-family: Violet Sans;
    font-size: 32px;
    font-weight: 100;
    line-height: 120%;
    z-index: 2;

    max-width: 330px;
  }

  .to_top_wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 40px;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 0.34px;
    color: #d8d8d8;
    z-index: 2;

    p {
      max-width: 190px;
    }

    .button_to_top {
      display: flex;
      padding: 10px 15px;
      /* border: 1.5px solid rgba(216, 216, 216, 0.5);
      border-radius: 5px; */
    }

    .button_to_top svg {
      transition: scale 200ms ease-out;
    }

    .button_to_top:hover svg {
      scale: 1.05;
    }
  }

  .rectangle {
    content: '';
    position: absolute;
    height: calc(100% + 50px);
    width: 35px;
    top: 0;
    left: 17px;
    background: linear-gradient(
      180deg,
      #242424 10.11%,
      #2c2c2c 18.25%,
      #333 100%
    );
    z-index: 1;
  }
}

@media (min-width: 1024px) {
  .conclusion_section {
    gap: 400px;

    margin-top: 0;
    width: 55%;
    padding-bottom: 28px;

    .contact_me_pointer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;

      width: 100%;
    }

    .conclusion_section_string {
      font-size: 3.8em;
      margin-left: 35px;

      max-width: none;
    }

    .to_top_wrapper {
      width: 100%;
      gap: 7px;
      justify-content: flex-end;

      font-size: 23px;

      p {
        max-width: 250px;
      }
    }

    .rectangle {
      width: 46.5px;
      left: 40px;
      background: #333;
    }
  }
}
