.header {
  width: 100%;
  /* position: absolute; */
  z-index: 2;
  margin-top: 15px;

  color: rgb(211 64 0);

  .content_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: flex-end;

    background: rgb(51, 51, 51);
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.25);

    .brand_wrapper h3 {
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }

    .navbar {
      display: none;
    }

    .mobile_menu_wrapper {
      display: flex;

      .menu {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}

@media (min-width: 1150px) {
  .header {
    position: absolute;
    padding-inline: 60px;
    margin-top: 16px;

    .content_wrapper {
      padding: 13px 25px;

      .brand_wrapper h3 {
        font-size: 30px;
      }

      .navbar {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        font-size: 22px;
      }

      .mobile_menu_wrapper {
        display: none;
      }
    }
  }
}
