.education_section_wrapper {
  margin-top: 70px;

  color: #ffffffe0;

  .education_body {
    display: flex;
    flex-direction: column;
    gap: 65px;
    margin-top: 30px;

    .ed_item_wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding-inline: 4%;

      .item_title {
        width: 100%;
        font-size: 23px;
        font-weight: 400;
        line-height: 100%;
        color: rgb(211 64 0);
      }

      .ed_item_body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 27px;

        padding-inline: 15px 0px;

        .item_content {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .university_string {
            color: #d8d8d8ae;
            font-size: 14px;
            font-weight: 100;
          }

          .concentrations_string {
            font-size: 20px;
            font-weight: 300;
            line-height: 120%;
            text-wrap: balance;
          }
        }
      }

      .status_wrapper {
        text-align: end;

        .status_string {
          padding: 3px 10px 0;
          color: #d8d8d8d5;
          background: #333;
        }
      }
    }
  }

  .education_body article::after {
    content: '';
    position: absolute;
    width: 92%;
    height: 0.5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    background: #d8d8d8;
  }
}

@media (min-width: 700px) {
  .education_section_wrapper {
    .education_body {
      gap: 80px;

      .ed_item_wrapper {
        align-items: flex-end;
        gap: 35px;

        .ed_item_body {
          gap: 33px;

          .item_content {
            width: 90%;

            .concentrations_string {
              text-wrap: initial;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .education_section_wrapper {
    .education_body {
      gap: 80px;

      .ed_item_wrapper {
        flex-direction: row;
        align-items: center;
        gap: 35px;

        .item_title {
          font-size: 33px;
        }

        .ed_item_body {
          /* align-items: flex-start; */
          gap: 33px;

          .item_content {
            width: 90%;

            .university_string {
              font-size: 22px;
            }

            .concentrations_string {
              font-size: 30px;
            }
          }
        }

        .status_wrapper {
          font-size: 20px;
        }
      }
    }
  }
}
